[submodule "popoolation/popoolation"]
	path = popoolation/popoolation
	url = https://github.com/lczech/popoolation.git
[submodule "bamfreq/bamfreq"]
	path = bamfreq/bamfreq
	url = https://github.com/MoisesExpositoAlonso/bamfreq.git
[submodule "bamfreq/grenepool"]
	path = bamfreq/grenepool
	url = https://github.com/MoisesExpositoAlonso/grenepool.git
