[submodule "tools/popoolation"]
	path = popoolation/popoolation
	url = git@github.com:lczech/popoolation.git
[submodule "tools/bamfreq"]
	path = bamfreq/bamfreq
	url = git@github.com:MoisesExpositoAlonso/bamfreq.git
